<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center my-1 col-md-6">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top mt-2" src="./assets/persons.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Personas Fisicas</h5>
          <a [routerLink] ="['/person']" class="btn btn-primary btn-block">Seleccionar</a>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="d-flex justify-content-center col-md-6">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top mt-2" src="./assets/analitica.png" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">Reportes</h5>
          <a [routerLink] ="['/report']" class="btn btn-primary">Seleccionar</a>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>